.search-container{
    padding: 3rem 0 3rem 0;
    .search-bar{
        display: inline-block;
        margin:auto
    }
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;

    li {
        list-style: none;
        margin: 0.7rem 0.5rem;

        a {
            img {
                width: 16rem;
                height: 10rem;
                border-radius: 0.5rem 0.5rem 0 0;
            }

            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .favorite{
                    color: var(--red-600);
                }
                .notFavorite{
                    color:var(--gray-600)
                }
            }

            .product-item-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem 0 0.5rem 0;

                .origins {
                    :first-child{
                        margin-left: 0 ;
                    }
                    span{
                        background-color: whitesmoke;
                        color: gray;
                        margin: 0 0.25rem 0 0.25rem ;
                        padding: 0.25rem;
                    }
                    
                }

                .cook-time {
                    display: flex;
                    align-items: center;
                }
            }

            .price {
                display: block;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }

    li:hover {
        a {
            opacity: 0.7;
            cursor: pointer;
            color: var(--red-600);

        }
    }
}